<app-menu></app-menu>


<form novalidate [formGroup]="event" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

  <p class="h4 mb-4">New Event</p>

  <input type="text" id="name" class="form-control mb-4" placeholder="name" formControlName="event_name">

  <input type="text" id="category" class="form-control mb-4" placeholder="category" formControlName="event_category">

  <input type="text" id="place" class="form-control mb-4" placeholder="place" formControlName="event_place">

  <input type="text" id="address" class="form-control mb-4" placeholder="address" formControlName="event_address">

  <input type="date" id="initialDate" class="form-control mb-4" placeholder="initialDate" formControlName="event_initial_date">

  <input type="date" id="endDate" class="form-control mb-4" placeholder="endDate" formControlName="event_final_date">

  <input type="text" id="type" class="form-control mb-4" placeholder="type" formControlName="event_type">


  <button class="btn btn-lg btn-primary btn-block" [disabled]="event.invalid" type="submit">Create</button>


</form>
<!-- Default form register -->
