<app-menu></app-menu>

<div class="text-center border border-light p-5">

  <p class="h4 mb-4">New Event</p>

  <input type="text" [(ngModel)]="event.event_name" id="name" class="form-control mb-4" placeholder="name" >

  <input type="text" [(ngModel)]="event.event_category" id="category" class="form-control mb-4" placeholder="category" >

  <input type="text" [(ngModel)]="event.event_place" id="place" class="form-control mb-4" placeholder="place" >

  <input type="text" [(ngModel)]="event.event_address" id="address" class="form-control mb-4" placeholder="address" >

  <input type="text" [(ngModel)]="event.event_type" id="type" class="form-control mb-4" placeholder="type" >


  <button class="btn btn-lg btn-primary btn-block" (click)="updateEvent()" type="submit">Update Event</button>

  <br/>
  <button class="btn btn-lg btn-danger btn-block" (click)="deleteEvent()" type="submit">Delete Event</button>


</div>


