<!-- Default form register -->
<form novalidate [formGroup]="user" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" id="first_name" class="form-control" placeholder="First name" formControlName="first_name">
    </div>
    <div class="col">
      <!-- Last name -->
      <input type="text" id="last_name" class="form-control" placeholder="Last name" formControlName="last_name">
    </div>
  </div>

  <!-- Phone number -->
  <input type="text" id="username" class="form-control mb-4" placeholder="User Name" aria-describedby="username"
    formControlName="username">

  <!-- E-mail -->
  <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" formControlName="email">

  <!-- Password -->
  <input type="password" id="password" class="form-control mb-4" placeholder="Password"
    aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password">


  <!-- Sign up button -->
  <button class="btn btn-lg btn-primary btn-block" [disabled]="user.invalid" type="submit">Sign up</button>


</form>
<!-- Default form register -->
